// custom variables
$primary : #BDD359;

//import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


$custom-theme-colors : (
  "altlight": #B79CEE,
  "altdark" : #7161F0,

  "stone" : #F7F2F0,
  "powder" : #d5dce4,

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// import boostrap
@import '../node_modules/bootstrap/scss/bootstrap';