/* Normal Grid */

body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #d5dce4 1px, transparent 1px),
    linear-gradient(to bottom, #d5dce4 1px, transparent 1px);

  background-color: #F7F2F0;
}

/* Dotted Grid 

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}*/